body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

.marker {
	background-image: url('mapbox-icon.svg');
	background-size: cover;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	cursor: pointer;
}

.mapboxgl-popup {
	max-width: 200px;
}

.mapboxgl-popup-content {
	text-align: center;
	font-family: 'Open Sans', sans-serif;
}
img{
	max-width: 100%;
}
